<!DOCTYPE html>
<html lang="en">
<head>
<!--Переход в режим эксперта, здесь будут все его функции по тестам и профессиям-->
    <meta charset="UTF-8">
    <title>Expert mode</title>
</head>
<body>
<div th:replace="~{blocks/header_2 :: header}"></div>
<h1>You are chosen</h1>
<div class="main">
    <a href="/expert/send_test">Отправить тест выбранному пользователю</a>
    <a href="/expert/see_all_tests_result">Посмотреть результаты тестов всех пользователей</a>
    <a href="/expert/grading_occupation">Оценить профессии по выбранному списку ПВК</a>
</div>
</body>
</html>