<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подключение CSS к HTML</title>
</head>
<body background="https://vsegda-pomnim.com/uploads/posts/2022-04/1651052109_2-vsegda-pomnim-com-p-more-svetloe-foto-2.jpg" style="font-family:verdana;">
  <pre> //Позволяет вывести текст без профессиональной разметки таким, каким мы хотим его видеть 
  ..........／＞　   フ.....................
  　　　　　| 　_　 _|
  　 　　　／`ミ _x 彡
  　　 　 /　　　 　 |
  　　　 /　 ヽ　　 ﾉ
  　／￣|　　 |　|　|
  　| (￣ヽ＿_ヽ_)_)
  
  </pre>
  <ul>Маркированный список
    <li>Первый котик</li>
    <li>Второй котик</li>
  </ul>
  
  <ol>Нумерованный список
    <li>Первый котик</li>
    <li>Второй котик</li>
  </ol>
  
  <ul>Вложенный список
    <li>Первый котик
      <ol>
        <li>Спать</li>
        <li>Есть</li>
        <li>Дремать</li>
      </ol>
    </li>
    <li>Второй котик
      <ol>
        <li>Бегать</li>
        <li>Есть</li>
        <li>Скакать</li>
      </ol>
    </li>
  </ul>
  
  <h1 style="text-align:center"><a href="https://my.itmo.ru/">Адрес ИТМО<br></a></h1>
  <h2><a href="https://my.itmo.ru/" title="Ссылка на сайт ИТМО">Адрес ИТМО 2</a></h2>
  
  
  <p id="photo">
  <img src="https://ru-static.z-dn.net/files/d16/fa215a0ff65e16cbbe67a753d3b5b411.jpg" alt="thats you" width=40% height="50%" title="thats you">
  <!-- <script>Без создания нового окна</script> -->
  <a href="https://www.youtube.com/watch?v=fJ9rUzIMcZQ&list=TLPQMjQwNDIwMjP8M_kw1vPymA&index=31">
    <img src="https://lookw.ru/22/2283/1639272956-1010-www.lookw.ru.jpg" alt="Queen" title="Попади на концерт уже сейчас!" width=40% height="50%">
  </a>
  </p>
  
  
  <!-- <script>С созданием нового окна</script> -->
  <a href="https://www.youtube.com/watch?v=fJ9rUzIMcZQ&list=TLPQMjQwNDIwMjP8M_kw1vPymA&index=31" target="=_blank">
    <img src="https://lookw.ru/22/2283/1639272956-1010-www.lookw.ru.jpg" alt="Queen" title="Попади на концерт уже сейчас!" width="1000" height="700">
  </a>
  
  <form>
    <fieldset>
      <legend>Подпись главного окошка</legend>
      <p><label for="name">Name</label><input type="text" id="email" placeholder="name"></input></p>
      <p><label for="email">Email</label><input type="text" id="name"></input></p>
    </fieldset>
  </form>
  
  
  
  
  <form>
    <fieldset>
      <legend>Поле входа</legend>
      <p><label for="name"><em>Имя</em></label><input type="text" id="name"></p>
      <p><label for="email">E-mail</label><input type="email" id="email"></p>
      <p><label for="pass">Password</label><input type="password" id="pass"></p> 
    </fieldset>
    <p><input type="submit" value="Отправить"></p>
  </form>
  
  <p id="link">
      Text for test vbjadkvbkjbJDBVJKBNJKDSBAVKJ
  </p>
  
  
  
  
  </body>
</html>