<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--Экспертная страничка профессий, здесь он выбирает ту, которую хочет оценить прилагательными из пвк-->
<head>
    <meta charset="UTF-8">
    <title>Профессии</title>
</head>
<body>
<div class="main">
    <div th:each="occupation : ${allOccupations}">

        <a th:href="'/expert/grading_occupation/' + ${occupation.getOccupation_id()}">
            <h3 th:text="${occupation.occupation_name}"></h3>
        </a>
    </div>
</div>
</body>
</html>