<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="test_design_style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавление профессии</title>
    <script th:inline="javascript">
        function validateForm() {
            let x = document.forms["form"]["description","occupation_name"].value;
            let checkboxes = document.querySelectorAll('input[type=checkbox][name=selectedIds]:checked');
            if (x == "") {
                alert("Field must be filled out");
                return false;
            }
            if (checkboxes.length > 5) {
                alert("Вы можете выбрать не более 5 чекбоксов!");
                return false;
            }else if(checkboxes.length < 1){
                alert("Вы должны выбрать хотя бы один пункт");
                return false;
            }
        }
    </script>
</head>

<body>
<div th:if="${test}">
    <div th:replace="~{blocks/header_2 :: header}"></div>
</div>
<div th:if="${not test}">
    <div th:replace="~{blocks/header :: header}"></div>
</div>
<div class="main">
    <p th:text="'Hello, ' + ${title} + '!'" />
    <div>
        <form action="/occupation/add" method="post" onsubmit="return validateForm()" name="form" th:object="${result}">
            <input type="text" name="occupation_name" placeholder="Введите название профессии" class="form-control"><br>
            <input type="text" name="description" placeholder="Введите описание профессии"><br>
            <div class="checkbox-list">
                <div class="col-md-6">
                    <div th:each="adjective, iterStat : ${adjectiveList}" th:if="${iterStat.index < #lists.size(adjectiveList) / 2}">
                        <label>
                            <input type="checkbox" th:name="'selectedIds'" th:value="${adjective.adjective_id}"
                                   th:text="${adjective.trait_name}">
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div th:each="adjective, iterStat : ${adjectiveList}" th:if="${iterStat.index >= #lists.size(adjectiveList) / 2}">
                        <label>
                            <input type="checkbox" th:name="'selectedIds'" th:value="${adjective.adjective_id}"
                                   th:text="${adjective.trait_name}">
                        </label>
                    </div>
                </div>
            </div>
            <button type="submit" class="bt bt-success">Добавить профессиию</button>
        </form>
    </div>
</div>
</body>
</html>
