body{
    /*background: url("https://vsegda-pomnim.com/uploads/posts/2022-04/1651052109_2-vsegda-pomnim-com-p-more-svetloe-foto-2.jpg");*/
    background-color: aquamarine;
}
div#autorization{
    text-align: right;

}
div#main{
    background-color: rgb(240, 248, 255, 0.8);
    margin: 50px;
    text-align: center;

}