<!--<head></head>-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="test_design_style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подключение CSS к HTML</title>

</head>
<body>
<header th:insert="blocks/header"></header>
    <div id="autorization">
        <a href="/login">
            <button type="submit">Log in</button>

        </a>
        <form action="/registration" id="reg">
            <button type="submit">Registration</button>

        </form>
    </div>
<div class="main">
    <pre>
                             ..........／＞　   フ.....................
        　　　　　| 　_　 _|
        　 　　　／`ミ _x 彡
        　　 　 /　　　 　 |
        　　　 /　 ヽ　　 ﾉ
        　／￣|　　 |　|　|
        　| (￣ヽ＿_ヽ_)_)
        
    </pre>

    <p>Сайт в состоянии разработки, у нас лапки:(</p>
    <p th:text="'Hello, ' + ${title} + '!'" />



</div>


</body>