body{
    background-image: url(https://vsegda-pomnim.com/uploads/posts/2022-04/1651052109_2-vsegda-pomnim-com-p-more-svetloe-foto-2.jpg);
    background-attachment: fixed;
}
h1{
    color: blueviolet;
}
label#bobo{
    color: red;
    font-size: large;
}
p#photo{
    /* text-indent: 20%; */
    text-align: center;
    letter-spacing: 20px;

}
p#link{
    border:1px solid red;
    padding:30px;
    margin:70px;
    width:100px;
    height:50px;
}